:root {
  --primary-light-color: #ffff;
  --primary-light-dark-color: #525252;
  --primary-dark-color: #1d1d1d;
  --primary-font: roboto, sans-serif;
  --large-font-size: 4rem;
  --small-text-font-size: 0.8rem;
  --medium-text-font-size: 1.3rem;
}

/* #050707 */
/* #313132 */
/* #212123 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-light-dark-color);
  font-weight: 400;
  font-size: var(--medium-text-font-size);
  line-height: 1.6;
}

header,
h1 {
  color: var(--primary-dark-color);
  text-align: center;
  /* margin: auto; */
  /* background-color: var(--primary-dark-color); */
  /* background-image: linear-gradient(0, var(--primary-light-color), var(--primary-dark-color)); */
  /* text-align: center; */
}

p {
  margin: 0;
}

li.feature-item:before {
  content: "\f00c";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

/* -------------------------------- */
/* OVERVIEW WIDGET STYLING */
/* -------------------------------- */

/* header,
section{
  padding: 4rem 0;
} */

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 3;
  gap: 1rem;
}

/* @media (min-width: 40em){
  .split{
    flex-direction: row;
  }
} */

.overview-upper-part {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.left-container {
  height: 100%;
  /* width: 100%; */
  justify-content: center;
  flex: 2;
  position: relative;
}

.gallery-overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}

.gallery {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

.gallery-items {
  /* left: 10%; */
  height: 100%;
}

.gallery-item {
  max-width: 100%;
  height: 100%;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 65%;
}

.gallery-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail-navigation {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.gallery-icon-left {
  /* position: absolute; */
  /* padding-left: 3%; */
  color: var(--primary-light-dark-color);
  font-size: 3rem;
  /* top: 45%;
  left: 50%; */
  /* z-index: 100; */
}

.expand-view-container {
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: row;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.expand-view-gallery {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

.expand-view-gallery-item {
  background-position: 50%;
}

.thumbnail-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* background-color: orange; */
  width: 20%;
  height: 100%;
  /* top: 5%;
  bottom: 5%;
  left: 5%; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.thumbnail-container {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;

}

.thumbnail-icon {
  font-size: 3rem;
  color: var(--primary-light-dark-color);
  /* padding-left: 25%;
  box-sizing: border-box; */
}

.thumbnail-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.thumbnail-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 10%;
}

.right-container {
  flex: 1;
}

.overview-rating-reviews {
  display: flex;
  font-size: var(--medium-text-font-size);
  justify-content: flex-start;
}

.overview-rating {
  transform-origin: right;
  color: var(--primary-light-dark-color);
}

.overview-reviews {
  margin-left: 3%;
  color: var(--primary-light-dark-color);
}

.full-star {
  color: var(--primary-light-dark-color);
}

.empty-star {
  color: var(--primary-light-color);
}

.half-star {
  color: var(--primary-light-dark-color);
}

.share-icon {
  font-size: 3rem;
}

.share-on-social-media {
  padding-top: 1.5rem;

}

.overview-category {
  color: var(--primary-light-dark-color);
  font-size: var(--medium-text-font-size);
}

.overview-name {
  color: var(--primary-light-dark-color);
  font-size: var(--large-text-font-size);
  font-weight: bold;
}

.overview-price {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-size: var(--medium-text-font-size);
  color: var(--primary-light-dark-color);

}

.price-old {
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.price-current {
  color: var(--primary-light-dark-color);
}

.overview-styles {
  color: var(--primary-light-dark-color);
}

.style-thumbnails {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.style-thumbnail-container {
  position: relative;
  width: 25%;
  height: auto;
  margin-bottom: 3%;
  margin-top: 5%;
}

.style-thumbnail {
  background-size: cover;
  display: block;
  width: 80%;
  height: 100%;
  border-radius: 50%;
  padding-top: 80%;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  overflow: hidden;
}

.check-icon-visible {
  visibility: visible;
  display: block;
  position: absolute;
  top: -20%;
  left: 50%;
  font-size: 150%;
  color: var(--primary-light-dark-color);
  /* color: green; */
}

.overview-size {
  width: 65%;
  position: relative;
  /* margin-right: 5rem; */
}

.overview-quantity {
  width: 35%;
  position: relative;
}

.selector {
  border: 0.1rem solid var(--primary-light-dark-color);
  font-size: var(--medium-text-font-size);
  color: var(--primary-light-dark-color);
  width: 100%;
  padding: 0.6rem;

}

.select-icon {
  font-size: var(--medium-text-font-size);
  color: var(--primary-light-dark-color);
  margin: 0 1rem;
  position: absolute;
  right: 0;

}

.options {
  position: absolute;
  width: 100%;
  left: 0;
  top: 3rem;
  list-style: none;
  padding: 0.5rem;
  border: 0.1rem solid var(--primary-light-dark-color);
  background-color: var(--primary-light-color);
  z-index: 100;

}

.option-item {
  margin: 0;
  /* padding: 0.5rem 0.5rem; */
}

.option-item:hover {
  background-color: #b4b2b4;
  cursor: pointer;
}

.overview-add-to-cart {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.add-to-cart-container {
  padding: 0.5rem;
  background-color: var(--primary-light-dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 3;
  gap: 1rem;
  align-items: center;
}

.heart-icon {
  /* background-color: var(--primary-light-color); */
  background-color: var(--primary-light-dark-color);
  width: 20%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--primary-light-color);
}

.add-to-cart {
  border: 0.1rem solid var(--primary-light-dark-color);
  font-size: var(--medium-text-font-size);
  color: var(--primary-light-color);
  /* width: 75%; */
}

.add-icon {
  font-size: var(--medium-text-font-size);
  color: var(--primary-light-color);
  /* margin: 0 1rem; */
  /* right: 0; */
  /* top:1rem; */
}

.overview-lower-part {
  /* width: 100vw; */
  box-sizing: border-box;
  font-size: var(--small-text-font-size);
  color: var(--primary-light-dark-color);
}

.description-features {
  width: 70%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
}

.overview-description {
  height: auto;
  flex: 2;
  /* margin-right: 8rem; */
  box-sizing: border-box;
}

.overview-features {
  border-left: solid var(--primary-light-dark-color);
  flex: 1;
  margin-top: 1rem;
}

.feature-item {
  margin-left: 2rem;
}

/* -------------------------------- */
/* QUESTION & ANSWER WIDGET STYLING */
/* -------------------------------- */
.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 5px 3px;
}

.question {
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0px 10px;
}

.answer {
  border-top: 1px solid black;
}


/* -------------------------------- */
/*   RELATED ITEMS WIDGET STYLING   */
/* -------------------------------- */

.productCardList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
}

.comparisonScrollArrowRight {
  padding-left: 10px;
  font-size: 3em;
  width: 0%;
  height: 0%;
  top: 35%;
  left: 5%;
  position: relative;
}

.comparisonScrollArrowLeft {
  font-size: 3em;
  width: 0%;
  height: 0%;
  top: 35%;
  right: -65%;
  position: relative;
  padding-right: 30px;
  margin-right: 140px;
}

.comparisonScrollArrowRight:hover {
  font-style: italic;
  cursor: e-resize;
}

.comparisonScrollArrowLeft:hover {
  font-style: italic;
  cursor: w-resize;
}

.productCard {
  padding-left: .05px;
  padding-top: .05px;
  padding-right: .05px;
  margin: 20px;
  border-color: black;
  border-width: 1px;
  border-style: groove;
  position: relative;
  max-width: 220px;
  height: 320px;
  background-color: #ededf2;
}

.productCardThumbnail {
  top: 0%;
  left: 0%;
  position: relative;
  height: 210px;
  width: 218px;
}

.productCardCategory {
  font-size: small;
  top: -2%;
  left: 2%;
  position: relative;
}

.productCardName {
  top: -2%;
  left: 2%;
  position: relative;
  font-size: large;
}

.productCardDefaultPrice {
  font-size: 12.5px;
  top: -2%;
  left: 2%;
  position: relative;
}

.productCardStars {
  font-size: 12.5px;
  top: -2.5%;
  left: 2%;
  position: relative;
}

.productCardOrigPriceStrikethru {
  text-decoration: line-through;
  padding-right: 5px;
}

.productCardSalePrice {
  color: red;
}

.actionButtonCompModal {
  top: 0;
  right: 0;
  position: absolute;
  width: 11.5%;
  height: 7.2%;
  z-index: 1;
  background-color: rgba(209, 210, 204, 0.4);
  border-radius: 50%;
  border: none;
}

.actionButtonCompModal:hover {
  background-color: rgba(110, 110, 108, 0.4);
}

.actionButtonCompModal:active {
  background-color: rgba(209, 210, 204, 0.4);
  border-style: groove;
  border-color: rgba(110, 110, 108, 0.4);
}

.comparisonModal {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContent {
  background-color: rgb(240, 238, 238);
  position: absolute;
  z-index: 3;
  width: 600px;
  height: fit-content;
  top: 30%;
  left: 30%;
  padding-top: 10px;
  padding-bottom: 25px;
  border-style: groove;
}

.comparisonModalCloseButton {
  top: 0;
  right: 0;
  margin: 1%;
  position: absolute;
}

.modalFeatureRow {
  left: 30%;
  position: relative;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.modalFeatureList {
  padding-top: 5%;
}

.modalComparisonFeature {
  position: absolute;
  left: -7%;
}

.modalCurrentProductCheckmark {
  position: relative;
  right: 50%;
  font-size: large;
}

.modalRelatedProductCheckmark {
  position: relative;
  left: 57%;
  font-size: large;
}

.modalRelatedName {
  position: absolute;
  right: 2%;
}

.modalCurrentName {
  position: absolute;
  left: 2%;
}

.your-outfit-card-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  margin: 10px;
  position: relative;
  padding-bottom: 50px;
  left: 12%;
}

.your-outfit-add-button {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  font-size: 2em;
  background-color: transparent;
  position: relative;
  top: 40%;
  left: 12%;
}

.your-outfit-add-button:hover {
  background-color: rgba(244, 242, 242, 0.951);
}

.your-outfit-product-card-remove {
  top: 0;
  right: 0;
  position: absolute;
  width: 11.5%;
  height: 7.2%;
  z-index: 1;
  background-color: rgba(209, 210, 204, 0.4);
  border-radius: 50%;
  border: none;
}

.your-outfit-product-card-remove:hover {
  background-color: rgba(110, 110, 108, 0.4);
}

.your-outfit-product-card-remove:active {
  background-color: rgba(209, 210, 204, 0.4);
  border-style: groove;
  border-color: rgba(110, 110, 108, 0.4);
}