* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.main {
  width: 100%;
}

/* -------------------------------- */
/* OVERVIEW WIDGET STYLING */
/* -------------------------------- */
.header{
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  background-image: linear-gradient(0, #a1edff, #ffcaf2);
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #53535f;
}

.overview {
  display: block;
  width: 100%;
  height: 100%;
}

.overview-upper-part{
  display: flex;
  width: 100%;
  height: 85vh;
  box-sizing: border-box;
  flex-direction: row;
}

.gallery{
  display: block;
  box-sizing: border-box;
  position: relative;
  /* padding-top: 75%; */
  flex: 2;
  overflow: hidden;
  z-index: 0;
}

.gallery-items {
  height: 100%;
  background-color: #a1edff;
  overflow-x: scroll;
  scroll-behavior: smooth;
  z-index: 0;
}

.gallery-item {
  height: 100%;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  /* border: solid yellow 10px; */
}

.gallery-button{
  top: 0;
  position: absolute;
  z-index: 10;
}

.overview-upper-part-right{
  flex: 1;
}

.overview-lower-part{
  width: 100vw;
  display: block;
  box-sizing: border-box;
}

.overview-rating-reviews{
  display: flex;
  justify-content: space-between;
}

.overview-rating{
  font-size: 1rem;
  transform-origin: right;
  color: #a1edff;
}

.black-star{
  color: black;
}

.white-star{
  color: #a1edff;
}

.overview-price{
  display: flex;
  margin-left: 10px;
}

.price-old{
  text-decoration: line-through;
  color: red;
}

.price-current{
  color: black;
  margin-left: 10px;
}


.overview-description{
  display: block;
  box-sizing: border-box;
  border: solid palevioletred 10px;
}

/* -------------------------------- */
/* QUESTION & ANSWER WIDGET STYLING */
/* -------------------------------- */
.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 5px 3px;
}

.question {
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0px 10px;
}

.answer {
  border-top: 1px solid black;
}


/* -------------------------------- */
/*   RELATED ITEMS WIDGET STYLING   */
/* -------------------------------- */

.productCardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.productCard {
  padding-left: 15px;
  padding-top: 10px;
  margin: 20px;
  border-color: black;
  border-width: 1px;
  border-style: groove;
  position: relative;
  max-width: 150px;
  height: 200px;
}

.productCardThumbnail {
  top: 20%;
  position: relative;
}

.productCardCategory {
  font-size: small;
  top: 46%;
  position: relative;
}

.productCardName {
  top: 68%;
  position: absolute;
}

.productCardDefaultPrice {
  font-size: 14px;
  top: 90%;
  position: absolute;
}

.actionButtonCompModal {
  top: 0%;
  right: 0%;
  position: absolute;
}

.comparisonModal {
  display: grid;
  /* position: relative; */
  /* grid-template-columns: max-content; */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modalContent {
  background-color: white;
  position: absolute;
  z-index: 1;
}